@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: black;
}

@layer components {
  .search-input {
    @apply font-inputSearch mx-auto my-4 w-[400px] rounded-full px-2 py-2 text-sm transition-all duration-300 placeholder:text-green-950 hover:bg-slate-300 focus:w-[450px] focus:outline-none focus:ring focus:ring-green-900 focus:ring-opacity-50 max-[600px]:w-[250px] max-[600px]:focus:w-[275px];
  }
}
